body {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  width: 1440px;
}
p,
h1 {
  margin: 0;
}

header {
  height: 218px;
  width: 100%;
}

.header-text {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 46px;
  padding-top: 60px;
  font-family: Playfair Display;
  font-weight: 900;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 1px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin-right: 135px;
  margin-left: 134px;
}

.header-nav a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.main-image {
  background-image: url(../img/Hotel.png);
  height: 464px;
}

.main-header {
  padding-top: 133px;
  padding-bottom: 133px;
  font-family: Roboto;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.main-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.cards {
  height: 463px;
  border: 1px solid red;
}

.abonements {
  height: 606px;
  border: 1px solid black;
}

.footer {
  bottom: 0;
  background-color: #575757;
  height: 295px;
}
