* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
}

.header {
  height: 218px;
  max-width: 1440px;
  padding-top: 60px;

  background-color: rosybrown;
}

.header-text {
  text-align: center;
  padding-bottom: 46px;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 1px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  margin-right: 135px;
  margin-left: 134px;
}

.header-nav a {
  font-family: Roboto;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.main-photo {
  height: 464px;
  background-image: url(../img/Hotel.png);
}

.main-header {
  font-family: Roboto;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 133px;
  padding-bottom: 133px;
}

.main-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
}

.cards {
  height: 463px;
  border: 1px dotted rosybrown;
}

.abonemets {
  height: 606px;
}

.footer {
  height: 296px;
  background-color: #575757;
}
